<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="index.js" path="index.js" verb="*" modules="iisnode" resourceType="File" />
        </handlers>
        
        <rewrite>
            <rules>
                <rule name="ReqToServer">
                    <match url=".*" />
                    <action type="Rewrite" url="index.js" />
                </rule>   
        </rewrite>

    </system.webServer>
</configuration>
